## 處理欄位資料同時有文字與數字情況

In [1]:
import pandas
df = pandas.DataFrame([['mary', 30000], ['Joe', 'NULL']])

In [4]:
df.columns = ['name', 'salary']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
name      2 non-null object
salary    2 non-null object
dtypes: object(2)
memory usage: 112.0+ bytes

In [6]:
df

   name salary
0  mary  30000
1   Joe   NULL

In [7]:
import numpy as np
df['salary'] = df['salary'].map(lambda e: np.nan if e == 'NULL' else e)

In [9]:
df['salary'].describe()

count        1.0
mean     30000.0
std          NaN
min      30000.0
25%      30000.0
50%      30000.0
75%      30000.0
max      30000.0
Name: salary, dtype: float64