## 591 網路爬蟲

In [6]:
import requests
headers = {
 'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'   
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5', headers = headers)
jd = res.json()

## 使用Pandas 整理資料

In [11]:
import pandas
df = pandas.DataFrame(jd['data']['data'])
df.head()

,addInfo,addition2,addition3,addition4,addr_number_name,address,address_img,address_img_title,alley_name,allfloor,...,storeprice,street_name,streetid,type,unit,updatetime,user_id,vipBorder,vipimg,vipstyle
0,,0,0,1,,復興南路一段市民大..,市民大道微風SOGO忠孝東路,市民大道微風SOGO忠孝東路,,7,...,0,復興南路一段,25660,1,元/月,1500973928,2099380,vipStyle,,isvip
1,,0,0,1,,仁愛路三段123巷仁..,仁愛復興南路忠孝SOGO,仁愛復興南路忠孝SOGO,123巷,7,...,0,仁愛路三段,25616,1,元/月,1500972331,2099380,vipStyle,,isvip
2,,0,0,1,,樂業街2房1廳基隆路二段..,2房1廳基隆路二段六张犁站民生國小遼寧夜,2房1廳基隆路二段六张犁站民生國小遼寧夜,,4,...,0,樂業街,25674,1,元/月,1501133737,2099368,vipStyle,,isvip
3,,0,0,1,,四維路52巷大安捷運300公..,大安捷運300公尺全新飯店裝潢2房1廳,大安捷運300公尺全新飯店裝潢2房1廳,52巷,5,...,0,四維路,25619,1,元/月,1500189761,289326,vipStyle,,isvip
4,,0,0,1,,和平東路二段復興南..,復興南建國科技大樓大安森公園,復興南建國科技大樓大安森公園,,4,...,0,和平東路二段,25633,1,元/月,1498551482,2099380,vipStyle,,isvip

## 使用pandas 清理資料

In [13]:
df = df[['address', 'floor', 'allfloor', 'layout', 'area', 'price','browsenum_all']]
df.head()

            address  floor  allfloor  layout  area   price  browsenum_all
0       復興南路一段市民大..      4         7  2房1廳1衛  20.0  32,002            308
1      仁愛路三段123巷仁..      5         7  2房1廳1衛  21.0  29,036            569
2    樂業街2房1廳基隆路二段..      2         4  2房1廳1衛  20.0  26,006             22
3  四維路52巷大安捷運300公..      4         5  2房1廳1衛  22.0  34,000           5915
4       和平東路二段復興南..      2         4  2房1廳1衛  16.0  23,909           9633

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
address          30 non-null object
floor            30 non-null int64
allfloor         30 non-null int64
layout           30 non-null object
area             30 non-null float64
price            30 non-null object
browsenum_all    30 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [17]:
df[['layout_bedroom', 'layout_livingroom', 'layout_bathroom']] = df['layout'].str.extract('(\d+)房(\d+)廳(\d+)衛')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

In [22]:
df['price'] = df['price'].map(lambda e : int(''.join(e.split(','))) )

In [23]:
df.head()

,address,floor,allfloor,layout,area,price,browsenum_all,layout_bedroom,layout_livingroom,layout_bathroom
0,復興南路一段市民大..,4,7,2房1廳1衛,20.0,32002,308,2,1,1
1,仁愛路三段123巷仁..,5,7,2房1廳1衛,21.0,29036,569,2,1,1
2,樂業街2房1廳基隆路二段..,2,4,2房1廳1衛,20.0,26006,22,2,1,1
3,四維路52巷大安捷運300公..,4,5,2房1廳1衛,22.0,34000,5915,2,1,1
4,和平東路二段復興南..,2,4,2房1廳1衛,16.0,23909,9633,2,1,1

## 將資料儲存至Excel

In [24]:
df.to_excel('rent591.xlsx')

## 將資料儲存至SQLite

In [27]:
import sqlite3
with sqlite3.connect('renthouse.sqlite') as db:
    df.to_sql('renthouse591', con=db)

## 從SQLIte 讀取資料

In [28]:
import sqlite3
with sqlite3.connect('renthouse.sqlite') as db:
    df2 = pandas.read_sql_query('select address, browsenum_all from renthouse591 limit 3', con = db)
df2.head()

          address  browsenum_all
0     復興南路一段市民大..            308
1    仁愛路三段123巷仁..            569
2  樂業街2房1廳基隆路二段..             22